sudo: no
language: "python"

python:
   - "2.7"
   - "3.2"
   - "3.3"
   - "3.4"
   - "pypy"
   - "pypy3"

install:
  - pip install flake8
  -  pip install -r requirements.txt

before_script:
   flake8 .

script: py.test

branches:
  only:
    - master